.footer {
    justify-content: center;
    color: white;
    position: relative;

    .fa-icon {
        color: green;
        font-size: 1rem;
    }

    .fa-icon:hover {
        color: white;   
    }
}