.header-nav{
    transition: all 0.5s ease;
    
    .brand-name{
        color: whitesmoke;
        font-family: $press-start;
        font-size: xx-large;
        transition: all 0.5s ease;
        
        &:hover {
            color: #014421 !important;
            transition: color 0.3s ease-in-out;
        }
        
        &:focus {
            color: white !important;
        }
    }
    
    .navbar-toggler{
        border-color: #ffff;
        transition: all 0.5s ease;
    }

    .nav-link{
        display: flex;
        justify-content: center;
        align-items: center;
        color:white !important;
        font-size: 17px;
        font-family: $courier !important;
        transition: all 0.5s ease;
        
        &:hover, &:focus{
            color: #014421 !important;
            transition: color 0.3s ease-in-out;
        }
        
        .button{
            color:#29a19c;
            border-color: #29a19c;
            &:hover, &:focus, &:active {
                outline:none !important;
                box-shadow: none !important;
                background-color: transparent !important;
                color:#63c9c6 !important;
                border-color: #63c9c6 !important;
                transition: all 0.3 ease-in-out;
            }
        }
    }
}

.header-nav.sticky {
    background-color: white !important;
    transition: all 0.5s ease;
    padding-top: 2px;
    padding-bottom: 2px;
    .brand-name, .nav-link {
        color: white !important;
        transition: all 0.5s ease;
        &:hover {
            color: #29a19c !important;
            transition: color 0.3s ease;
        }
    }
    .nav-link {
        &:hover {
            background-color: rgba(0,0,0,0.1);
            transition: all 0.5s ease;
        }
        
        &:nth-last-child(1):hover {
            background-color: white !important;
            transition: all 0.5s ease;
        }
    }
}
