.skills-div {
    background:linear-gradient(0deg, rgba(11, 11, 13, 0.5), rgba(11, 11, 13, 0.6));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;

    .heading {
        color: white;
        justify-content: center;
    }

    .fa-icon {
        color: green;
        font-size: 4rem;
    }

    .fa-icon:hover {
        color: white;   
    }
}